<div class="container">
    <div class="jumbotron">
        <h1>students in {{class}}</h1>
        <div id="nav">
            <a onclick="goBack()">
                <button class="btn btn-default btn-lg">back</button>
            </a>
        </div>
        <br/><br/>
        <div class="container" ng-repeat="buddy in buddies | filter: {class: class}">
            <div ng-repeat="group in groups" class="row">
                <a ui-sref="home.buddy({username: buddy.username})">
                    <div ng-show="buddy.buddy === 1 && buddy.group == group.owner" class="col-xs-12" style="background-color: darkolivegreen">
                        <h3>{{buddy.username}}</h3>
                        <h4>{{group.owner}}'s group</h4>
                        <p>
                            {{group.description}}
                        </p>
                    </div>
                    <div ng-show="buddy.buddy === 0 && buddy.group == group.owner" class="col-xs-12" style="background-color: #7E7E71">
                        <h3>{{buddy.username}}</h3>
                        <h4>{{group.owner}}'s group</h4>
                        <p>
                            {{group.description}}
                        </p>
                    </div>
                </a>
            </div>
            <br />
        </div>
    </div>
</div>
<div id="navbar" class="col-xs-12 navbar-inverse navbar-fixed-bottom">
    <div style="margin-top: 10px;" class="row" id="bottomNav">
        <div class="col-xs-3 text-center"><a ui-sref="home.groups"><i class="glyphicon glyphicon-home"></i><br>home</a></div>
        <div class="col-xs-3 text-center"><a ui-sref="home.buddies"><i class="glyphicon glyphicon-globe"></i><br>buddies</a></div>
        <div class="col-xs-3 text-center"><a ui-sref="home.profile"><i class="glyphicon glyphicon-user"></i><br>profile</a></div>
        <div class="col-xs-3 text-center"><a ng-click="logOut(user)" href="#"><i class="glyphicon glyphicon-log-out"></i><br>logout</a></div>
    </div>
</div>