<div class="container">
    <div ng-controller='UserCtrl' class="jumbotron">
        <h1>study groups</h1>
        <h3>Welcome back, <a style="color: #B5CB8E" ui-sref="home.buddy({username: user.getUsername()})">{{user.get('username')}}</a>!</h3>
    </div>
    <div ng-repeat="group in groups | reverse" class="container">
        <div ng-if="group.in === 1">
            <div class="row">
                <a ui-sref="home.group({class: group.class, owner: group.owner})">
                    <div ng-if="group.current === 0" class="col-xs-12" style="background-color:#7E7E71">
                        <h3>{{group.class}}</h3>
                        <h4>{{group.owner}}'s group</h4>
                        <p>{{group.description}}</p>
                        <p>
                            <span class="glyphicon glyphicon-user"> {{group.members}}/{{group.member_limit}}</span>
                        </p>
                    </div>
                </a>
                <a ui-sref="home.group({class: group.class, owner: group.owner})">
                    <div ng-if="group.current === 1" class="col-xs-12" style="background-color: darkolivegreen">
                        <h3>{{group.class}}</h3>
                        <h4>{{group.owner}}'s group</h4>
                        <p>{{group.description}}</p>
                        <p>
                            <span class="glyphicon glyphicon-user"> {{group.members}}/{{group.member_limit}}</span>
                        </p>
                    </div>
                </a>
            </div>
            <br />
        </div>
    </div>
    <div class="container">
        <a ui-sref="home.add">
            <div class="row">
                <div class="col-xs-12" style="background-color: none; border-color: white; border-style: solid;">
                    <div class="row">
                        <br />
                        <i class="glyphicon glyphicon-plus"></i><br/>
                        <h3>add new group</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

