<div ng-controller='GroupsCtrl' class="container">
    <div class="jumbotron">
        <h1>buddies</h1>
        <p>see what others are studying for.</p>
        <div>
            <p><strong>Search by username or pick a class to search for buddies.<strong></p>
            <button class="btn btn-default btn-lg" ng-click="show=false">class</button>
            <button class="btn btn-default btn-lg" ng-click="show=true">username</button>
        </div>
    </div>
    <div ng-show="!show" class="container" ng-repeat="group in groups | unique: 'class' | filter: {in: 1}">
        <div class="row">
            <a ui-sref="class({class: group.class})">
                <div class="col-xs-12" style="background-color: darkolivegreen">
                    <h3>{{group.class}}</h3>
                </div>
            </a>
        </div>
        <br />
    </div>
    <div ng-show="show">
        <div ng-controller="BuddiesCtrl" class="container">
            <input id="searchbar" class="form-control" type="search" ng-model="q.username" placeholder="search buddies by username..." />
            <div ng-if="results.length == 0">
                <strong>No results found for "{{q}}".</strong>
            </div>
            <br/><br/>
            <div ng-if="results.length !== buddies.length" ng-repeat="buddy in buddies | filter: q as results"}>
                <div class="row">
                    <a ui-sref="home.buddy({username: buddy.username})">
                        <div ng-if="buddy.buddy === 1" class="col-xs-12" style="background-color: darkolivegreen">
                            <h3>{{buddy.username}}</h3>
                            <h4 ng-if="buddy.class">is studying for {{buddy.class}}</h4>
                            <h4 ng-if="!buddy.class">is not studying right now.</h4>
                        </div>
                        <div ng-if="buddy.buddy === 0" class="col-xs-12" style="background-color: darkgrey">
                            <h3>{{buddy.username}}</h3>
                            <h4 ng-if="buddy.class">is studying for {{buddy.class}}</h4>
                            <h4 ng-if="!buddy.class">is not studying right now.</h4>
                        </div>
                        <br/><br/><br/><br/>
                    </a>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div>

    </div>
</div>
<style>
    li {
        list-style-type: none;
    }
</style>

