<div ng-controller='GroupsCtrl' class="container">
    <div class="jumbotron">
        <h1>buddies</h1>
        <p>see what others are studying for.</p>
        <div>
            <p><strong>Pick a class to search for buddies.<strong></p>
        </div>
        <!--do something like a dropbar menu to choose ng-model to search for --></div>

    <div class="container" ng-repeat="group in groups | unique: 'class'">
        <div ng-if="group.in === 1" class="row">
            <a ui-sref="class({class: group.class})">
                <div class="col-xs-12" style="background-color: darkolivegreen">
                    <h3>{{group.class}}</h3>
                    <p>

                    </p>
                </div>
            </a>
        </div>
        <br />
    </div>
</div>
<style>
    li {
        list-style-type: none;
    }
</style>