<div class="container">
    <div class="jumbotron">
        <h1>add new group</h1>
        <!--<a onclick="goBack()">
            <button class="btn btn-default btn-lg">back</button>
        </a>-->
    </div>
    <div class="container">
        <div class="options">
            <div class="col-xs-12" style="background-color: darkolivegreen">
                <a ui-sref="home.add.join">
                    <h3>join</h3>
                </a>
            </div>
            <br/><br/><br><br/>
            <div class="col-xs-12" style="background-color: darkolivegreen">
                <a ui-sref="home.add.create">
                    <h3>create</h3>
                </a>
            </div>
        </div>
        <br /><br/><br/><br/>
        <div ui-view></div>
    </div>
</div>
<style>
    .options {
        text-align: center;
    }
</style>