<div class="container">
    <div class="jumbotron">
        <!--<h1>studybuddy</h1>-->
        <img class="img-responsive" src="images/studybuddy.png">
        <h4>studying made <span id="words"></span></h4>
        <br />
        <!--<img width="100%" src="http://images.clipartpanda.com/glasses-clip-art-dc8aeLRce.png">-->
    </div>
</div>
<div class="container">
    <div ui-view></div>
    <div style="width: 100%; height: 100px"></div>
</div>
<link href="../css/login.css" rel="stylesheet">
<script src="../js/jumbotron.js"></script>
<style>
    span {
        color: #B5CB8E;
    }
</style>


