<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 text-center">
                <img src="images/search.png">
                <h3><span>search</span> for buddies</h3>
            </div>
            <div class="col-xs-4 text-center">
                <img src="images/group.png">
                <h3>find or create <span>study groups</span></h3>
            </div>
            <div class="col-xs-4 text-center">
                <img src="images/study.png">
                <h3>achieve greater <span>academic success</span></h3>
            </div>
        </div>
    </div>
    <br/><br/>
    <p>The studybuddy app is designed to help you to connect with other students who may be studying the same subject matter.
        It was developed with the intention to increase student networks and to help students to work together to learn from each other.
        Studying shouldn’t and doesn’t have to be done alone. <br /><br/>

        Best,<br/>
        <b>Development Team</b>
        <br /><br />

        This app was developed and designed by John Gamboa with
        contributions from Ray Yada and Vilan Le.<br /><br/>

        studybuddy powered by Parse, Express.js, Angular.js, and Node.js
    </p>
    <input ui-sref="login.login" value="back" type="submit" class="btn btn-default btn-lg"></button>
</div>
<style>
    h3 {
        text-align: center;
    }
    span {
        color: #B5CB8E;
    }
</style>